{
  "lastChangelogVersion": "0.75.4",
  "defaultProvider": "azure-openai-responses",
  "defaultModel": "gpt-5.5",
  "defaultThinkingLevel": "high",
  "theme": "dark",
  "skills": [
    "{{ .chezmoi.homeDir }}/.agents/skills"
  ],
  "enabledModels": [],
  "enableSkillCommands": false,
  "packages": []
}
